.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.input p {
  margin: 0;
}

.input .address {
  font-size: 6px;
  padding: 4px;
  border-radius: 4px;
}
