.transaction-card {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  width: 95%;
  max-width: 95%;
  height: 95%;
  padding: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 20% 25% 25% 30%;
  grid-template-areas:
    'header header header'
    'inputs center outputs'
    'inputs center outputs'
    'footer footer footer';
  border-radius: 4px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.transaction-card .header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.transaction-card .header a {
  color: unset;
  text-decoration: none;
  margin-right: 5px;
  transition: 0.3s all ease-in-out;
  padding: 2px;
  border-radius: 3px;
}

.transaction-card .header a:hover {
  color: #262626;
  background: #f2f2f2;
}

.transaction-card .inputs {
  grid-area: inputs;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.transaction-card .center {
  grid-area: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction-card .outputs {
  grid-area: outputs;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.transaction-card ul {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.transaction-card ul:hover {
  overflow-y: scroll;
}

.transaction-card .footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.transaction-card .footer .total-amount i {
  margin-left: 5px;
}

.block-hash {
  font-size: 9px;
}

.block-hash i {
  font-size: 11px;
  cursor: pointer;
}

.block-time {
  font-size: 14px;
}
