.transaction-card-list {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 10vh;
  grid-gap: 2vh;
  place-items: center;
  margin-top: 20px;
  z-index: 1;
}
