.Header {
  width: 100%;
  height: 60px;
  color: #f2f2f2;
  background: #262626;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 4fr 3fr;
  grid-gap: 1rem;
}

.Header .search {
  width: 100%;
  height: 40px;
  place-self: center;
}

.Header .is-loading .loader-one {
  animation: loader 6s infinite;
}

.Header .is-loading .loader-two {
  animation: loader 6s infinite;
  animation-delay: 1s;
}

.Header .is-loading .loader-three {
  animation: loader 6s infinite;
  animation-delay: 2s;
}

.Header nav {
  display: flex;
  justify-content: space-between;
}

.Header .nav-item div {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header .nav-item .about-link {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  text-decoration: none;
}

@keyframes loader {
  0% {
    fill: #f2f2f2;
  }
  20% {
    fill: #30bfbf;
  }
  50% {
    fill: #30bfbf;
  }
  70% {
    fill: #f2f2f2;
  }
  100% {
    fill: #f2f2f2;
  }
}
