.nav-item {
  flex: 1;
}

.nav-item div {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-item div::before {
  position: absolute;
  width: 0%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: ' ';
  top: 0;
  left: 50%;
  transition: all 0.4s ease-in-out;
}

.nav-item:hover div::before {
  width: 70%;
  left: 15%;
}

.nav-item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 0%;
  padding: 0 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  transition: 0.3s height ease-in-out;
}

.nav-item:hover ul {
  height: 100%;
}

.nav-item li a {
  color: black;
  font-size: 12px;
}
